<img src="../Img/banner-fa-49-2.png">

<p style="font-size:125%; text-align:center">Финансовый университет</p>

<p style="font-size:150%; text-align:center">Тема 8. Работа с файлами</p>
<p style="font-size:125%; text-align:center">Конспект лекции</p>

<p>2 ноября 2021 года<br>
ВМ/451 (ул. Верхняя Масловка, д. 15)</p>

Студенты: Поток:УЦИ20-1<br>
Преподаватель: Смирнов Михаил Викторович, доцент Департамента Анализа данных и машинного обучения Финансового университета при Правительстве Российской Федерации

## Введение

Модуль _JSON_ стандартной библиотеки _Python_
<br>https://docs.python.org/3/library/json.html

Модуль _read_excel_ библиотеки _Pandas_
<br>http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

Модуль _xml.etree.ElementTree_ стандартной библиотеки _Python_
<br>https://docs.python.org/3.7/library/xml.etree.elementtree.html

Статья о множествах: https://python-scripts.com/sets

Набор данных
- сокращенная версия ..Data/recipes.json
- полная версия https://www.kaggle.com/c/whats-cooking/data

При подготовке занятия использовались учебные материалы <a href="https://skillfactory.ru">ООО "СКИЛФЭКТОРИ"</a>

# 1. Файлы JSON

## 1.1. Получение данных в формате JSON

In [1]:
import json
from pprint import pprint # Из модуля pprint функцию pprint

Десериализация с помощью *json.load()*

In [2]:
with open('../Data/recipes.json') as f:
    recipes=json.load(f)

Распечатаем первый рецепт

In [3]:
pprint(recipes[0])

{'cuisine': 'greek',
 'id': 10259,
 'ingredients': ['romaine lettuce',
                 'black olives',
                 'grape tomatoes',
                 'garlic',
                 'pepper',
                 'purple onion',
                 'seasoning',
                 'garbanzo beans',
                 'feta cheese crumbles']}

In [4]:
len(recipes)

500

После того как мы провели десериализацию данных из JSON-файла, мы можем работать с полученным объектом, как с обычным словарём.

К какой кухне относится блюдо с id=13121?

In [5]:
for r in recipes:
    if r['id']==13121:
        break
pprint(r)

{'cuisine': 'thai',
 'id': 13121,
 'ingredients': ['pork loin',
                 'roasted peanuts',
                 'chopped cilantro fresh',
                 'hoisin sauce',
                 'creamy peanut butter',
                 'chopped fresh mint',
                 'thai basil',
                 'rice',
                 'medium shrimp',
                 'water',
                 'rice noodles',
                 'beansprouts']}

### Задание 1.1.1
Какую кухню (ключ 'cuisine') представляет последнее блюдо в списке _recipes?_

In [6]:
# Ваш код здесь

print(recipes[-1]["cuisine"])

british

### Задание 1.1.2
Сколько ингредиентов входит в состав этого блюда?

In [7]:
# Ваш код здесь

print(len(recipes[-1]["ingredients"]))

17

### Задание 1.1.3
Какие из перечисленных ингредиентов присутствуют в блюде с id = 17636?
```
['tomato sauce','spinach','italian seasoning',
'broccoli','chopped onion','skinless chicken thighs','chopped green bell pepper']
```

In [8]:
# Ваш код здесь

set1=set(['tomato sauce','spinach','italian seasoning','broccoli',
          'chopped onion','skinless chicken thighs','chopped green bell pepper'])

for r in recipes:
    if r["id"]==17636:
        break
set2=set(r["ingredients"])

print(set1 & set2)

{'spinach', 'chopped onion', 'italian seasoning', 'chopped green bell pepper', 'tomato sauce'}

### Задание 1.1.4
Сколько ингредиентов входит в состав рецепта для приготовления блюда с id = 42013?

In [9]:
# Ваш код здесь

for r in recipes:
    if r["id"]==42013:
        break
print(len(r["ingredients"]))

14

### Задание 1.1.5
Какие из перечисленных ингредиентов
```
'olive oil', 'eggs', 'dry vermouth', 'black olives', 'black beans', 'chicken livers'
```
отсутствуют в блюде с id = 23629?

In [10]:
# Ваш код здесь

set1=set(['olive oil', 'eggs', 'dry vermouth', 'black olives', 'black beans', 'chicken livers'])
for r in recipes:
    if r["id"]==23629:
        break
set2=set(r["ingredients"])
print(set1-set2)

{'chicken livers', 'dry vermouth', 'olive oil'}

## 1.2. Группировка данных

### Кейс №1: Какое количество кухонь представлено в наборе данных?

In [11]:
cuisines=[]
for recipe in recipes:
    if not recipe['cuisine'] in cuisines:
        cuisines.append(recipe['cuisine'])
print(len(cuisines))

20

### Задание 1.2.1
Сколько ингредиентов включено в состав всех блюд, описанных в наборе данных?

Подсказка: для добавления в список или множество нового ингредиента организуйте перебор ингредиентов каждого блюда в отдельном вложенном цикле.

In [12]:
# Ваш код здесь

ingredients=set()
for r in recipes:
    for i in r["ingredients"]:
        ingredients.add(i)
print(len(ingredients))

1318

### Задание 1.2.2
Сколько ингредиентов встречается в рецептах блюд итальянской кухни _('cuisine' = italian)?_

In [13]:
# Ваш код здесь

italian_ingredients=set()

for r in recipes:
    if r["cuisine"]=="italian":
        for i in r["ingredients"]:
            italian_ingredients.add(i)
print(len(italian_ingredients))

406

### Задание 1.2.3
Какие ингредиенты из перечисленных
```
'bacon,bread slices,buttermilk,red beets,mozzarella cheese,carrots'
```
не встречаются в рецептах блюд русской кухни _('cuisine' = 'russian')?_

In [14]:
# Ваш код здесь

russian_ingredients=set()
for r in recipes:
    if r["cuisine"]=="russian":
        for i in r["ingredients"]:
            russian_ingredients.add(i)

some_ingredients=set('bacon,bread slices,buttermilk,red beets,mozzarella cheese,carrots'.split(","))

print(some_ingredients-russian_ingredients)

{'bread slices', 'carrots', 'bacon'}

### Кейс №2: Оцениваем популярность ингредиентов
Нам необходимо оценить, какие продукты используются в приготовлении блюд чаще, а какие - реже. 

Способ 1. Преобразовать JSON-структуру в датафрейм и найти количество ненулевых значений для каждого ингредиента. Этот способ рассмотрим позже.

Способ 2. Создать словарь, в котором ключами будут названия ингредиентов, аnзначениями — количество рецептов, в которых встречается каждый ингредиент.

Для создания словаря нам понадобится список или множество, содержащие перечень всех ингредиентов из описанных в наборе данных рецептов. Такой список вы уже составили. Воспользуйтесь вашим кодом для решения этой задачи ещё раз, но при этом назовите список (или множество, это не будет иметь значения в коде, который мы собираемся создавать) именем *ingredients*.

План решения задачи:

1. Для хранения информации о частоте встречаемости ингредиентов мы создадим пустой словарь *food*.
2. Заполним словарь *food* ключами, соответствующими названиям ингредиентов. В качестве значений по каждому ключу установим 0.
3. Организуем вложенный цикл, в котором будем перебирать рецепты (внешний цикл) и ингредиенты, использующиеся в каждом рецепте (внутренний цикл). При каждом появлении очередного ингредиента мы будем увеличивать значение соответствующего элемента словаря *food* на единицу.

In [15]:
ingredients=set()

for r in recipes:
    for i in r["ingredients"]:
        ingredients.add(i)
    
food={}

for i in ingredients:
    food[i]=0

for r in recipes:
    for i in r['ingredients']:
        food[i] += 1

In [16]:
len(food)

1318

In [17]:
food['sugar'], food['eggs'], food['salt']

(81, 43, 217)

### Задание 1.2.4
Какие ингредиенты входят в состав более чем 20% блюд, представленных в наборе данных?

In [18]:
# Ваш код здесь

more_than_20=[]

for key, value in food.items():
    if value > len(recipes)*.2:
        more_than_20.append(key)

print(more_than_20)

['salt', 'garlic']

### Задание 1.2.5
Какой ингредиент входит в состав самого большого количества блюд?

In [19]:
# Ваш код здесь

food_values=[]
max_ingredients=[]

for value in food.values():
    food_values.append(value)

food_values.sort()

for key, value in food.items():
    if value==food_values[-1]:
        max_ingredients.append(key)

print(max_ingredients)

['salt']

### Задание 1.2.6
Сколько ингредиентов входит в состав только одного блюда?

In [20]:
# Ваш код здесь

one_plate_ingredients=[]

for key, value in food.items():
    if value==1:
        one_plate_ingredients.append(key)

print(len(one_plate_ingredients))

684

## 1.3. Создание датафрейма на основе JSON-файла

Для решения многих задач нужна возможность работать с данными в форме таблицы.

In [21]:
import pandas as pd

In [22]:
df=pd.DataFrame(recipes)
df

        id      cuisine                                        ingredients
0    10259        greek  [romaine lettuce, black olives, grape tomatoes...
1    25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2    20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3    22213       indian                [water, vegetable oil, wheat, salt]
4    13162       indian  [black pepper, shallots, cornflour, cayenne pe...
..     ...          ...                                                ...
495   1121      chinese  [ground pepper, garlic, safflower oil, green o...
496  18376      italian  [penne, garlic, eggplant, lemon juice, olive o...
497  17815      italian  [cold water, dry white wine, fish fillets, cho...
498  32878  southern_us  [water, cajun seasoning, yellow onion, shrimp,...
499  24410      british  [mint, large eggs, heavy cream, berries, groun...

[500 rows x 3 columns]

### Задание 1.3.1

Какая часть набора данных была использована в качестве заголовков столбцов при создании датафрейма с помощью команды df = pd.DataFrame(recipes)?

- индексы элементов списка
- ключи словарей 
- значения словарей
- самые часто встречающиеся значения словарей

### Задание 1.3.2

Какая часть набора данных была использована в качестве индексов строк при создании датафрейма с помощью команды df = pd.DataFrame(recipes)?
- id блюд
- ключи словарей
- значения словарей
- индексы были сгенерированы автоматически

### Готовим данные для анализа

Множество всех  ингредиентов

In [23]:
def find_ingr(lst):
    if ingr in lst:
        return 1
    return 0

In [24]:
for ingr in ingredients:
    df[ingr]=df['ingredients'].apply(find_ingr)

В завершение изменим значение столбца *ingredients*, заполнив его данными о количестве ингредиентов в каждом рецепте

In [25]:
df['ingredients']=df['ingredients'].apply(lambda x: len(x))

In [26]:
df.head()

,id,cuisine,ingredients,kalamata,minced beef,pasta rotel,sesame seeds,half & half,hazelnut oil,crusty rolls,...,fine sea salt,garlic chili sauce,Pillsburyв„ў Refrigerated Crescent Dinner Rolls,capers,red potato,cardamom,garlic,mini cucumbers,hot water,diced tomatoes
0,10259,greek,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,25693,southern_us,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20130,filipino,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22213,indian,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13162,indian,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

###  Задание 1.3.3

Определите тип переменной *lst*, которую принимает на входе функция *find_ingr:*
- строка
- список
- словарь
- JSON

###  Задание 1.3.4

Отметьте верные утверждения о переменной *ingr*, которая используется в коде функции *find_ingr:*
- в переменной хранится название какого-либо ингредиента 
- в переменной хранится название ингредиента, входящего в состав рецепта для приготовления текущего блюда
- значение переменной устанавливается за пределами функции 
- значение переменной не меняется при выполнении функции

###  Задание 1.3.5

Причина, по которой мы сначала заполнили столбцы с данными о наличии или отсутствии каждого ингредиента, а после этого заполнили столбец данными о количестве ингредиентов в рецепте:

- Это был случайный выбор. На самом деле порядок выполнения этих действий не влияет на результат.
- Столбцы датафрейма нужно заполнять в том порядке, в котором они расположены в датафрейме.
- При заполнении столбцов с данными о наличии или отсутствии каждого ингредиента мы использовали информацию из столбца *ingredients*. Если бы мы заменили список, хранящийся в этом столбце изначально, на данные о количестве ингредиентов, мы бы потеряли информацию, необходимую для создания столбцов, посвящённых каждому ингредиенту в отдельности.

### Задание 1.3.6 

Объедините все действия, начиная с чтения файла в JSON-формате (recipes.json) и заканчивая созданием итогового датафрейма, в единый код. Используйте множество (set) для хранения названий ингредиентов блюд. Полученный в результате работы кода датафрейм должен иметь имя *df*.

In [27]:
# Ваш код здесь

### Сохраняем датафрейм в CSV-файле

In [28]:
df.to_csv('recipes.csv', index = False)

## 1.4. Создание JSON-файла

### Из Pandas в JSON

В завершающей части этого блока мы решим обратную задачу и создадим JSON-файл из CSV-файла, который получили в конце предыдущего этапа.

In [29]:
df=pd.read_csv('recipes.csv')

Теперь, используя только данные из этого файла, нам нужно в точности воссоздать структуру исходного JSON-файла. Начнём с создания списка, содержащего перечень ингредиентов, встречающихся в рецептах, а также списка, содержащего перечень *id* всех блюд.

In [30]:
df.head()

,id,cuisine,ingredients,kalamata,minced beef,pasta rotel,sesame seeds,half & half,hazelnut oil,crusty rolls,...,fine sea salt,garlic chili sauce,Pillsburyв„ў Refrigerated Crescent Dinner Rolls,capers,red potato,cardamom,garlic,mini cucumbers,hot water,diced tomatoes
0,10259,greek,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,25693,southern_us,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20130,filipino,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22213,indian,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13162,indian,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Задание 1.4.1

Напишите код для создания списка *id* всех блюд, представленных в датафрейме.

Обратите внимание на следующие моменты:

1. Тип структуры, в которой должны храниться id блюд - список (list).
2. Имя переменной, в которой будет храниться список - *ids*.
3. Порядок *id* в списке не имеет значения.
4. Код должен начинаться с чтения файла *recipes.csv*

In [31]:
# Ваш код здесь

df=pd.read_csv('recipes.csv')
ids=list(df['id'])

###  Задание 1.4.2

Напишите код для создания списка ингредиентов всех блюд, представленных в датафрейме.

Обратите внимание на следующие моменты:

1. Тип структуры, в которой должны храниться названия ингредиентов блюд, — список (list).
2. Имя переменной, в которой будет храниться список, — *ingredients*.
3. Порядок ингредиентов в списке не имеет значения.
4. Код должен начинаться с чтения файла *recipes.csv*

Подсказка: поскольку названия ингредиентов используются как названия столбцов датафрейма, вы можете воспользоваться командой *df.columns* для получения перечня всех названий столбцов, после чего превратить перечень в список и извлечь из него нужные данные.

In [32]:
# Ваш код здесь

df=pd.read_csv('recipes.csv')
ingredients=list(df.columns)[3:]

### Сохранение итоговой структуры

Как вы помните, после десериализации JSON-файла мы получили структуру, представляющую собой список, состоящий из словарей. Каждый словарь состоял из трёх пар "ключ-значение", при этом в качестве значений выступали целое число (id), строковая величина (тип кухни) и список строковых величин (перечень ингредиентов). Сейчас нам предстоит воссоздать эту структуру, извлекая данные из датафрейма. Для хранения итоговой структуры создадим пустой список *new_recipes*. Также создадим списки для хранения *id* всех блюд и названий всех ингредиентов с помощью кода из упражнений 1.4.1 и 1.4.2:

In [33]:
new_recipes=[]
ids=list(df['id'])
ingredients=list(df.columns)[3:]

Стратегия действий:
1. Организуем цикл с параметром, в котором будем перебирать элементы списка *ids*. В результате в процессе прохождения цикла параметр постепенно примет значение *id* каждого блюда.
2. На каждом шаге цикла создадим словарь, содержащий три пары "ключ-значение". Ключу "id" мы присвоим значение параметра цикла, ключу "cuisine" — значение соответствующей кухни, которое мы получим, применив фильтр по *id* к датафрейму *df*.
3. Для заполнения значения (списка) по ключу "ingredients" воспользуемся функцией, код которой обсудим чуть позже. Каждый созданный словарь мы будем добавлять к списку *new_recipes:*
```
for current_id in ids:
    cuisine=df[df['id']==current_id]['cuisine'].iloc[0]
    current_ingredients=make_list(df[df['id']==current_id])
    current_recipe={'cuisine':cuisine, 'id':current_id, 'ingredients':current_ingredients}
    new_recipes.append(current_recipe)
```

### Задание 1.4.3

Напишите код функции *make_list()*, которая принимает строку датафрейма *df*, содержащую данные об одном рецепте, и возвращает перечень ингредиентов этого блюда в виде списка.

Обратите внимание на следующие моменты:

1. Тип структуры, котоую должна вернуть функция в результате работы, — список (list).
2. В процессе работы функция должна обращаться к списку, в котором хранятся названия всех ингредиентов. Используйте имя переменной *ingredients* для списка.
3. Добавьте код для чтения файла *recipes.csv* и создания списка *ingredients* перед кодом функции.
4. Порядок ингредиентов в возвращаемом списке не имеет значения.

In [34]:
# Ваш код здесь. Способ 1.

import numpy as np

df=pd.read_csv("recipes.csv")
ingredients=list(df.columns)[3:]

def make_list(s):
    arr_filter=np.array(list(s.iloc[0,3:]), dtype=bool)
    arr_ingr_names=np.array(ingredients)
    return arr_ingr_names[arr_filter]

In [35]:
# Ваш код здесь. Способ 2 - без использования списка ingredients

df=pd.read_csv("recipes.csv")

def make_list(s):
    series=s.iloc[0,3:]
    series=series[series==1]
    return list(series.index)

In [36]:
# Ваш код здесь. Способ 3 - с помощью перебора значений

df=pd.read_csv("recipes.csv")

def make_list(s):
    curr_ingredients=[]
    for k, value in enumerate(s.iloc[0,3:]):
        if value==1:
            curr_ingredients.append(ingredients[k])
    return curr_ingredients

Теперь все готово для создания словаря *new_recipes*

In [37]:
for current_id in ids:
    cuisine=df[df['id']==current_id]['cuisine'].iloc[0]
    current_ingredients=make_list(df[df['id']==current_id])
    current_recipe={'cuisine':cuisine, 'id':current_id, 'ingredients':current_ingredients}
    new_recipes.append(current_recipe)

В завершающей части данного блока мы выполним сериализацию списка *new_recipes* и запишем полученные данные в файл. Для сериализации мы будем использовать функцию *dumps()*, которой в качестве параметра передадим список *new_recipes*. Запись в файл осуществляется с помощью метода *write()*. Предварительно файл нужно будет открыть для записи с помощью функции *open* и параметра 'w':

In [38]:
import json

In [39]:
with open("new_recipes.json", "w") as f:
    json.dump(new_recipes, f)

## 2. Обработка данных в формате XLSX (Excel)

## 2.1. Файлы XLSX

Excel-файлы — это таблицы с данными, которые имеют формат *.xls* и *.xlsx*.

Инструменты для работы с Excel

Сейчас практически любой текстовый процессор может работать с Excel-файлами. Изначально использовались .xls файлы, которые обрабатывались с помощью Microsoft Excel. Позже, начиная с версии Excel 2007, появился более продвинутый формат .xlsx. Для нашей работы разницы между ними нет, это те же самые табличные документы.

Инструменты для работы с Excel:

- Excel.
- Google Sheets: редактирование файлов онлайн, создать новый документ можно с помощью sheets.new.
- OpenOffice — открытый набор инструментов, в который входит приложение Calc, портирован на многие платформы.
- Pandas.

В данном блоке мы будем работать именно с Pandas: научимся читать и изменять Excel-файлы. Преимущество этого инструмента в том, что он позволяет работать со множеством однотипных документов и автоматизировать обработку.

In [1]:
import pandas as pd
import numpy as np
import json

Используем функцию *pandas.read_excel()* для обработки ведомости в формате Excel результатов тестирования студентов по русскому языку.

*Примечание. Все имена студентов в ведомости являются вымышленными, любое совпадение случайно.*

In [2]:
rus=pd.read_excel("../Data/ВедомостьРусский.xlsx",
                      sheet_name="Отчёт", header=9,
                      usecols="B:F", nrows=46)
rus.head()

   № п/п  Внешний идентификатор       ФИО студента  Логин студента        1
0    NaN                    NaN                NaN             NaN  Процент
1    NaN                    NaN                NaN             NaN      NaN
2    1.0               429498.0    Рожкова Пелагея  2019_06_429498       49
3    2.0               426187.0        Соколова Ия  2019_06_426187       58
4    3.0               404250.0  Семенова Вероника  2019_06_404250       65

Удалим строки с пустыми значениями.

In [3]:
rus.dropna(axis=0, how="any", inplace=True)
rus.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44 entries, 2 to 45
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   № п/п                  44 non-null     float64
 1   Внешний идентификатор  44 non-null     float64
 2   ФИО студента           44 non-null     object
 3   Логин студента         44 non-null     object
 4   1                      44 non-null     object
dtypes: float64(2), object(3)
memory usage: 2.1+ KB

Результат тестирования содержится в столбце "1". Это столбец типа "object". В столбцах такого типа могут содержаться значения разных типов, покажем это на примере. Распечатаем 12-ю строку.

In [4]:
rus.iloc[12]

№ п/п                                13
Внешний идентификатор            521351
ФИО студента                Иванов Иван
Логин студента           2019_06_521351
1                                    50
Name: 14, dtype: object

Мы видим, что результат студента Иванова 50 баллов. Какого типа это значение?

In [5]:
type(rus.iloc[12, 4])

int

Это целое число. Теперь изучим значение этого же атрибута в 11-й строке.

In [6]:
print(rus.iloc[11])
print(type(rus.iloc[11,4]))

№ п/п                                 12
Внешний идентификатор             429460
ФИО студента             Кондрат Синицин
Логин студента            2019_06_429460
1                                 неявка
Name: 13, dtype: object
<class 'str'>

Это строка.

Упражнение. <br>
Получите значение атрибута "1" в 13-й строке. Какого оно типа?

## 2.2. Перевод результатов в формат JSON
Решим задачу перевода содержимого таблицы c результатами тестирования в файл формата JSON. С этой целью желательно, чтобы все значения столбца "1" были одного типа. Приведем их к текстовому типу.

In [7]:
rus["1"]=rus["1"].astype(str)

Проверим теперь, в каком виде хранится значение результата студента Иванова.

In [8]:
rus.iloc[12, 4], type(rus.iloc[12, 4])

('50', str)

Это строка. Создадим список словарей в формате JSON

In [10]:
json_list=[]
for ind in rus.index:
    dict1=rus.loc[ind].to_dict()
    json_list.append(dict1)

json_list[11:14]

[{'№ п/п': 12.0,
  'Внешний идентификатор': 429460.0,
  'ФИО студента': 'Кондрат Синицин',
  'Логин студента': '2019_06_429460',
  '1': 'неявка'},
 {'№ п/п': 13.0,
  'Внешний идентификатор': 521351.0,
  'ФИО студента': 'Иванов Иван',
  'Логин студента': '2019_06_521351',
  '1': '50'},
 {'№ п/п': 14.0,
  'Внешний идентификатор': 413848.0,
  'ФИО студента': 'Пономарева Алина',
  'Логин студента': '2019_06_413848',
  '1': '57'}]

Проведём сериализацию.

In [11]:
with open("ВедомостьРусский.json", "w", encoding='utf-8') as f:
    json.dump(json_list, f, ensure_ascii=False)

## 2.3. Перевод результатов в формат XLSX

В столбце "1" содержатся баллы и пояснения, такие как "неявка". Оставим только информацию о баллах, удалив строки таблицы, содержащие пояснения.

In [14]:
print(rus.shape)
rus=rus[~rus["1"].str.contains("неявка")]
print(rus.shape)

(44, 5)
(35, 5)

Сохраним эти данные в формате *.xlsx*

In [15]:
rus.to_excel("SampleSheet.xlsx", index=False)

## 2.4. Чтение XLSX-файлов по ссылке

Если Excel-файл в Интернете, его необязательно загружать на диск, в методе *pandas.read_excel()* можно использовать ссылку.

<img src="../Img/YandexSearch.png" style="width:80%">

Загрузим отчет в формате Excel "Среднедушевые денежные доходы населения по субъектам Российской федерации" по ссылке https://rosstat.gov.ru/storage/mediabank/urov_11sub-nm.xlsx

In [25]:
income=pd.read_excel("https://rosstat.gov.ru/storage/mediabank/urov_11sub-nm.xlsx",
                    header=3)
income.sample(5)

,"Среднедушевые денежные доходы населения, руб./месяц",2013 год,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,2014 год,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 24,Unnamed: 25,2018 год,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,2019 год*,Unnamed: 32,Unnamed: 33
65,Ульяновская область,15125,17626,17381,21101,17856.7,16641,20088,20384,24986,...,26779,23284,20549,22122,22377,25841,22797,21655,23739,23508
18,Тульская область,17471,19428,19134,22384,19674.8,18581,21264,22602,25068,...,29823,27225.8,25223,26934,25769,30428,27208,25272,28243,28508
97,* Предварительные данные,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,Иркутская область,16919,18774,18384,21237,18842.8,17595,19545,19160,22114,...,25936,23506.7,22593,24427,23317,27269,24434,23220,25862,23897
48,Республика Северная Осетия-Алания,14788,15848,16460,21367,17141.8,16158,18071,20540,22330,...,25787,22702,19091,22979,23354,27490,23270,20538,24394,24418

## 3. Обработка данных в формате XML

### 3.1. Знакомство с форматом XML

Рассмотрим пример XML файла:
```
<data>      
    <items>    
        <item name="item1">item1abc</item>    
        <item name="item2">item2abc</item>    
    </items>    
</data>  
```
Если вы успели поработать с HTML, то можете заметить, что XML очень похож на него.

XML расшифровывается как eXtensible Markup Language — расширяемый язык разметки. Он позволяет описывать документы, используя теги. В отличие от HTML, где теги заранее четко заданы, в XML мы можем задавать теги сами.

Например, если мы хотим описать меню в ресторане, мы можем слегка изменить код выше:

```
<menu>    
    <dish name="Кура">  
        <price>40</price>  
        <weight>300</weight>  
        <class>Мясо</class>  
    </dish>
    <dish name="Греча">  
        <price>20</price>  
        <weight>200</weight>  
        <class>Крупа</class>  
    </dish>
</menu>  
```

В примере выше довольно жесткая структура: у нас есть меню, в нём — объекты, помеченные тегом `<dish>`, у каждого из которых есть параметр *name*, в котором прописано имя объекта. В данном случае можно считать, что *dish* — это класс этого объекта.

Внутри каждого объекта находится набор значений, которые тоже задаются тегами. Например, внутри тега `<price>` находится значение 20, означающее цену данного блюда. Тег `<price>` и другие теги внутри `<dish>` можно рассматривать как атрибуты класса dish.

Файлы XML не всегда имеют жесткую структуру и не обязаны ее иметь, но чаще всего какая-то структура внутри файла будет. Почему? Потому что обычно XML не пишут вручную. Такие файлы генерируются кодом, и читаются тоже кодом. Поэтому при наличии понятной структуры обработка файла становится намного проще.

Что бывает, когда в файле отсутствовала структура, вы видели в прошлой секции, когда разбирали накладную, записанную в Excel файл.

#### Как работают с XML?

XML-файлы имеют древовидную структуру. Это значит, что в файле используется набор тегов, внутри которых могут находиться другие теги со своими значениями.

В каком-то смысле XML похож на JSON или даже просто на словарь со значениями. Чуть позже вы увидите, как можно превратить XML-файл в JSON и в Python-словарь. После этого вы сможете пользоваться стандартными средствами языка Python для работы с этими данными, не задумываясь о том, в каком формате они к вам пришли.

Это не единственный способ работать с XML в Python. В стандартной библиотеке языка есть пакет, который позволяет работать с XML напрямую. В дальнейшем мы разберём его подробнее и сможем читать, модифицировать и записывать файлы XML.
    
Если у вас нет времени разбираться с программированием, вам прислали XML-файл, и вы просто хотите посмотреть на него или превратить его в JSON, можно воспользоваться любым из многочисленных онлайн-сервисов, например, https://codebeautify.org/xmlviewer

#### Результат перевода XML в JSON
```
{
	"menu": {
		"dish": [
			{
				"price": "40",
				"weight": "300",
				"class": "Мясо",
				"_name": "Кура"
			},
			{
				"price": "20",
				"weight": "200",
				"class": "Крупа",
				"_name": "Греча"
			}
		]
	}
}
```


#### Задание 1

Какой код можно использовать для получения информации о стоимости гречи после десериализации объекта, структура которого показана на рисунке выше? Предположим, что данные хранятся в переменной с именем food.
- food['menu']['dish']['Греча']
- food['menu']['dish']['_name' == 'Греча']
- food['menu']['dish']['price']
- food['menu']['dish'][1]['price']
- food['menu']['dish']['_name' == 'Греча']['price']

## 3.2. Извлечение данных из XML

Как мы увидели выше, данные в формате *XML* имеют древовидную структуру. 

Что такое дерево? Это структура, которая имеет узлы и связи между ними. Самый верхнеуровневый узел называется корнем, а всё, что находится в самом низу, называется листьями. В примере выше корнем является `<menu>`, а листьями, например, `<price>` и `<weight>`. 

У `<menu>` есть дети (потомки) — это два узла `<dish>`, имеющие разный атрибут *name*.

Мы будем пользоваться модулем *ElementTree*, входящим в стандартный пакет *xml*. Этот модуль позволит нам ходить по дереву *XML* и смотреть, что находится в каждом его узле, начиная с корня и заканчивая листьями. Импортируем модуль:

In [1]:
import xml.etree.ElementTree as ET

#### Задание 1
1/1 point (graded)
Сколько корней может быть у дерева, описывающего структуру XML-документа?
- 0
- 1
- Сколько угодно
- У дерева нет корней

### Чтение XML файла

In [3]:
tree=ET.parse('../Data/menu.xml')
print(tree)

<xml.etree.ElementTree.ElementTree object at 0x000001E3A9EAC048>

Используем метод *getroot()* для получения информации о корне XML-дерева и потомках.

In [4]:
tree.getroot()

In [6]:
list(tree.getroot())

[<Element 'dish' at 0x000001E3A9EAB4A8>,
 <Element 'dish' at 0x000001E3A9EAB7C8>]

Мы получили список потомков. Если у корня нет потомков, то список будет пуст.

Объект корня XML-дерева является итерируемым. Следовательно, для получения информации о потомках можно использовать итерацию.

Задание. Напишите код, который выводит на печать информацию о потомках корня XML-дерева с помощью итерации.

In [8]:
# Ваш код здесь

Таким образом, мы можем работать с деревом XML как со списком, если мы используем ElementTree. Каждый узел будет являться списком, в котором находятся его узлы-дети.

In [10]:
root=tree.getroot()
print(root[0])
print(root[1])

<Element 'dish' at 0x000001E3A9EAB4A8>
<Element 'dish' at 0x000001E3A9EAB7C8>

Ранее мы видели, что у узлов могут быть параметры (атрибуты). Например, у узлов dish мы видели атрибут name. Мы можем обратиться к атрибутам объекта с помощью команды attrib.

In [12]:
root[1].attrib

{'name': 'Греча'}